Regridded_outputs/
__pycache__/
bak/
logs/
AQUM_time_mean_outputs/2017met_2000ems_gridded_cube_list_annual_mean.nc
AQUM_time_mean_outputs/2017met_2000ems_gridded_cube_list_monthly_mean.nc
AQUM_time_mean_outputs/2017met_2019ems_gridded_cube_list_annual_mean.nc
AQUM_time_mean_outputs/2017met_2019ems_gridded_cube_list_monthly_mean.nc
AQUM_time_mean_outputs/2022met_2000ems_gridded_cube_list_annual_mean.nc
AQUM_time_mean_outputs/2022met_2000ems_gridded_cube_list_monthly_mean.nc
